:root {
  --primary-color: rgb(114 114 142);
}

body {
  background: rgb(228 219 236);
  font-family: "Roboto", sans-serif, Arial, Helvetica, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
p,
.pages {
  text-align: center;
  font-style: italic;
}

h1 {
  font-size: 48px;
  margin-top: 30px;
  color: var(--primary-color);
}

p,
.pages {
  font-size: 18px;
}

.pages {
  display: flex;
  justify-content: center;
}

.pages a {
  margin: 10px;
  padding: 20px 10px;
  color: var(--primary-color);
}

a:hover {
  color: rgb(86 47 48);
}

.croissantchocolat {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 10px;
  border: 20px double var(--primary-color);
}
